/* Basic styling */
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
  }
  
  .login {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 400px;
	margin: 50px auto;
  }
  
  h1, h2 {
	margin-bottom: 10px;
	text-align: center;
  }
  
  /* Form styling */
  form {
	display: flex;
	flex-direction: column;
	width: 100%;
  }
  
  .mb-3 {
	margin-bottom: 15px;
  }
  
  label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
  }
  
  .form-control {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 100%;
  }
  
  .form-control:focus {
	outline: none;
	border-color: #999;
  }
  
  select {
	height: 38px;
  }
  
  input[type="number"] {
	width: 70px;
  }
  
  .btn-primary {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
	background-color: #0066cc;
  }
  
  
  /* Results styling */
  h2 {
	margin-top: 20px;
  }
  
  .results {
	font-weight: bold;
	color: #007bff;
  }
  